@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #e5e7eb;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  -webkit-appearance: scrollbartrack-vertical;
  -webkit-appearance: scrollbarthumb-vertical;
}

*::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 14px;
  border: 3px solid #e5e7eb;
}


@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body, #root {
  background: #f6f5f7;
  margin: 0 !important;
}